.footer {
    height: 8vh;
    border-top: solid 0.2vh rgb(200, 200, 200);
    background-color: rgb(194, 194, 194);
  
    .icons {
      li {
        padding: 0 12px;
        list-style-type: none;
        a {
          text-decoration: none;
        }
      }
    }
}

li {   
  list-style-type: none;
}
  